# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
# When changing, change app.yaml to
flask-bootstrap==3.3.7.1
flask_security==3.0.0
Flask==0.12.2
werkzeug==0.12.2
WebOb==1.2.3
WebTest==2.0.28
flask-restplus==0.10.1
jsonschema==2.6.0
